---
import AnimateOnScroll from './AnimateOnScroll.tsx';
import AnimateListOnScroll from './AnimateListOnScroll.tsx';
---

<section class="bg-gray-50 pt-12 lg:pt-16 lg:pb-16">
  <div class="max-w-7xl mx-auto px-6 lg:px-0 grid lg:grid-cols-2 gap-6 items-center">

    <!-- Imagen izquierda -->
    <AnimateOnScroll client:load>
      <div class="w-full lg:h-[50%]">
        <img src="/images/tractocamion.jpg" alt="Tractocamion" class="w-full h-full object-cover object-top rounded-lg"/>
      </div>
    </AnimateOnScroll>

    <!-- Texto derecha -->
    <AnimateListOnScroll client:load>
      <ul class="flex flex-col gap-y-4 p-0 m-0 justify-center h-full">
        <li class="flex items-center gap-x-4">
          <svg class="h-5 shrink-0 text-slate-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 ..." clip-rule="evenodd"/>
          </svg>
          <p class="text-sm font-medium text-neutral-500">Advanced Analytics</p>
        </li>
        <li class="flex items-center gap-x-4">
          <svg class="h-5 shrink-0 text-slate-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 ..." clip-rule="evenodd"/>
          </svg>
          <p class="text-sm font-medium text-neutral-500">Seamless Integration</p>
        </li>
        <!-- Más items si quieres -->
      </ul>
    </AnimateListOnScroll>

  </div>
</section>
